{% extends 'base.html' %}

{% block content %}
	<div id="singlecol">
		{% block singlecol %}
		<h1>Welcome</h1>
		<p>Sea Turtle Swim School offers swimming lessons during the summer season for all ages. It is the only swim school in the San Jose area to allow parents complete control over when and how they take swimming lessons. There are no sessions, registration fees, minimum number of lessons or age and ability requirements for certain classes. We believe there can be no measure for the importance of being safe and comfortable around water which is why we offer a variety of lessons to fit your needs. Feel free to schedule as many swim lessons as you want on whatever days and times that work for you!</p>
		<br />
		<div id="season_starts" class="textcenter">
			<h3>Swim Season 2010<br />Starts April</h3>
			<p><a href="/register">Sign up today</a></p>
		</div>
		<img class="floatleft" alt="Photo of Pool" src="/media/img/pool.png" />
		<img class="floatright" alt="Photo of Waiting Area" src="/media/img/waiting_area.png">
		<div class="clear"></div>
		{% endblock %}
	</div>
{% endblock %}