{% extends 'schedule/base_manage.html' %}

{% block title %}Sea Turtle Swim School Schedule{% endblock %}


{% block manage_content %}
<h3>Lessons for {{display_date|date:"m/d/y"}}:</h3>
	<br />
	{% if todayslessonslots %}
		 <table class="data">
		 <tr><th>Start Time</th><th>End Time</th><th>Status</th><th>Type</th><th>Student(s)</th></tr>
		 	{% for lessonslot in todayslessonslots %}
		 		<tr class="{% cycle even,odd %}">
		 			<td><a href="{% url view_lessonslot lessonslot_id=lessonslot.id %}">{{lessonslot.start_time|time:"g:i a"}}</a></td>
		 			<td>{{lessonslot.end_time|time:"g:i a"}}</td>
		 			<td>{{lessonslot.lesson.status}}</td>
		 			{% if user.is_staff %}
		 			<td>{{lessonslot.lesson.lesson_type}}</td>
		 			<td>{% for student in lessonslot.lesson.students.all %}{{student.first_name}},{% endfor %}</td>
		 			{% endif %}
		 		</tr>
		 	{% endfor %}
		 </table>
		<br />
	{% else %}
		<h3>No Lessons On This Day</h3>
	{% endif %}
	<br />
	<a href="{% url view_season_bymonth season_id=season.id, display_month=display_date.month %}">Back to Calendar</a>
{% endblock %}