<div id="message">
	{% if message %}
		{{ message }}
	{% endif %}
</div>

{% if lessonslots %}
<h3>Found Lessons:</h3>	
<table class="data">
	<tr><th>Date</th><th>Day</th><th>Time</th><th>Type</th><th>Status</th><th>Students</th></tr>
{% for lessonslot in lessonslots %}
	<tr class="{% cycle even,odd %}">
		<td><a href="{% url view_lessonslot lessonslot_id=lessonslot.id %}">{{ lessonslot.start_datetime|date:"m/d/y" }}</a></td>
		<td>{{ lessonslot.start_datetime|date:"D" }}</td>
		<td>{{ lessonslot.start_time|time:"g:i a" }}</td>
		<td>{{ lessonslot.lesson.lesson_type }}</td>
		<td>{{ lessonslot.lesson.status }}</td>
		<td>{% for student in lessonslot.lesson.students.all %}{{ student.first_name }}, {% endfor %}</td>
	</tr>
{% endfor %}
</table>
</table>
{% endif %}