<!--TODO: Change these urls to be dynamic using  url -->
	{% if user.is_staff %}
		<a class="floatright" href="{% url manage_schedule %}">Back to Management Dashboard</a>
	{% endif %}
<div id="calendar_controls">
	<a class="prev_month" href="/schedule/season/{{ season.id }}/view/month/{{ prev_month }}">Prev Month</a>
	<h1 class="monthtitle"><span class="monthtitle">{{ current_month }}</span></h1>
	<a class="next_month" href="/schedule/season/{{ season.id }}/view/month/{{ next_month }}">Next Month</a>
</div>

<div id="instructor_key">
	<span class="instructor_candace">Teacher Candace</span><br />
	<span class="instructor_victoria">Teacher Victoria</span><br />
	<span class="instructor_pamela">Teacher Pamela</span><br />
	<span class="instructor_melissa">Teacher Melissa</span>
</div>
	
<table class="season_month_cal">
	{% for week in calendar %}
		<tr>
			{% for day in headers %}
				<th class="center {{ day|date:"D"|slice:":3" }}">{{ day|date:"D"|slice:":3" }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for d in week %}
				{% if perms.schedule.can_viewfullschedule %}
					<td class="textright {{ d.day|date:"D"|slice:":3" }} date"><a href="{% url view_season_byday year=d.day.year, month=d.day.month, day=d.day.day %}">{{ d.day|date:"d" }}</a></td>
				{% else %}
					<td class="textright {{ d.day|date:"D"|slice:":3" }} date">{{ d.day|date:"d" }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		<tr>
		{% for day in week %}
		<td class="{{ day.day|date:"D"|slice:":3" }} {% ifequal day.day today %}today{% endifequal %}">
		<!-- lesson actually means lessonslot here -->
			{% for lesson in day.lessons %}
				<!--TODO: Change these urls to be dynamic using  url -->
				{% if perms.schedule.can_viewfullschedule %}<a href="/schedule/lessonslot/{{lesson.id}}/view/">{% endif %}
					{% ifequal lesson.status "Closed" %}
						<span class="calendar_lesson_closed">
					{% else %}
						<span class="{% ifequal lesson.instructor.first_name "Victoria" %}instructor_victoria{% endifequal %}
							{% ifequal lesson.instructor.first_name "Pamela" %}instructor_pamela{% endifequal %}
							{% ifequal lesson.instructor.first_name "Melissa" %}instructor_melissa{% endifequal %}
							{% ifequal lesson.instructor.first_name "Candace" %}instructor_candace{% endifequal %}">
					{% endifequal %}
						{{ lesson.start_datetime|time:"g:i A" }} -</span>
					<span class="{% ifequal lesson.status "Closed" %}calendar_lesson_closed{% endifequal %}
						{% ifequal lesson.status "Booked" %}calendar_lesson_booked{% endifequal %}
						{% ifequal lesson.status "Open" %}calendar_lesson_open{% endifequal %}">
						{% if not lesson.lesson.status %}{{ lesson.status }}
						{% else %}{{ lesson.lesson.status }}
						{% endif %}
					</span>
				{% if perms.schedule.can_viewfullschedule %}</a>{% endif %}
				<br />
			{% endfor %}
			<br />
		</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>
<div id="calendar_controls_footer">
	<a class="prev_month" href="/schedule/season/{{ season.id }}/view/month/{{ prev_month }}"><< Prev Month</a> - 
	<a class="next_month" href="/schedule/season/{{ season.id }}/view/month/{{ next_month }}">Next Month >></a>
</div>