{% extends 'main2col.html' %}

{% block title %}Sea Turtle Swim School Schedule Management System{% endblock %}

{% block col1 %}	
	<a href="{% url stswim.schedule.views.parentdashboard %}">Home</a><br /><br />
	<h3>Tools:</h3>
	<ul class="management_menu">
		<li><a href="{% url parent_requestlesson  %}">Request Lessons</a></li>
		<li><a href="{% url parent_registerstudent  %}">Register Student</a></li>
		<li><a href="{% url view_currentseason  %}">View Calendar</a></li>
		<li><a href="http://www.seaturtleswim.com/media/files/Liability_Form.pdf">Liability Form</a></li>
	</ul>
	
{% endblock %}

{% block col2 %}
	<p class="floatright">
		{% if user.is_authenticated %}
			Hello {{ user.first_name }}! <a href="{% url logout %}">logout</a>
		{% else %}
			Please <a href="{% url login %}">Login</a>
		{% endif %}
	</p><br />
	
	{% block manage_content %}
	
	{% endblock %}

	
{% endblock %}