{% extends 'schedule/base_manage.html' %}

{% block title %}Parent Detail{% endblock %}

{% block col2 %}
	<h2>Parent Details:</h2>
	<a class="floatright" href="{% url stswim.schedule.admin_views.editparent parent_id=parent.id %}">Edit</a>
	
	<table class="detail">
		<tr>
			<th>Name:</th>
			<td>{{ parent.first_name }} {{parent.last_name }}</td>
		</tr>
		<tr>
			<th>Phone:</th> 
			<td>{{ parent.phone_number }}</td>
		</tr>
		{% if parent.email %}
		<tr>
			<th>Email:</th>
			<td>{{ parent.email }}</td>
		</tr>
		{% endif %}
		<tr>
			<th>Address:</th>
			<td class="address">
				{{ parent.address }}<br />
				{% if parent.address2 %}{{ parent.address2 }}{% endif %}<br />
				{{ parent.city }}, {{ parent.state }} {{ parent.zip_code }}<br />
			</td>
		</tr>
	</table>
	<a href="{% url view_household household_id=parent.household.id %}">Back to Household</a>
{% endblock %}