{% extends 'schedule/base_manage.html' %}

	
{% block manage_content %}
	{% if not object_list %}
		There are no parents.
	{% else %}
	
	<h2>Parents:</h2>	
	<table id="parent_list" class="data">
	<th>Last Name</th>
	<th>First Name</th>
	<th>Reg Form</th>
	<th>Household</th>
	{% for parent in object_list %}
		<tr class="{% cycle even,odd %}">
			<td class="textleft"><a href="{% url view_parent parent_id=parent.id %}">{{ parent.last_name }}</a></td>
			<td class="textleft">{{parent.first_name }}</td>
			<td class="{% if parent.has_registrationform %}{% else %}error{% endif %}">{% if parent.has_registrationform %} Yes {% else %} No {% endif %}</td>
			<td><a href="{% url view_household household_id=parent.household.id %}">View</a>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
{% endblock %}