{% extends 'main1col.html' %}

{% block title %}Registration or Login{% endblock %}


{% block content %}
	<div id="login" style="width: 680px; height: 400px" class="center">
		<p>We have implemented a new online registration system. If you have previously taken lessons with our school please use the Password Problems link, a new password will be emailed to you and you will be able to login and request new lessons.</p>
	<br /><br />
	<div id="new_parent" class="floatleft">
		<h3>New Parents:</h3>
		<p>If you haven't taken lessons with us before please fill out a new parent registration form.</p>
		<a class="download_button center" href="{% url register_parent %}">Registration Form</a>
	</div>
	
	<div id="existing_parent" class="floatleft">	
		<h3>Existing Parents:</h3>
		<p>If you have taken lessons with us before please login below:</p>
		<form class="center" action="/schedule/register/" method="post">
			{% csrf_token %}
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			email:
			<input type="text" name="email" value="{{ email }}" /><br />
			password:
			<input type="password" name="password" value="" /><br />

			<input type="submit" value="Log In" />
		</form>
		<br />
		<h4>Password problems?</h4>
		<p class="helper_text">If you do not have a password or have forgotten it please <a href="/schedule/resetpass">Click Here</a></p>
	</div>
	</div>
	
	{% block manage_content %}
	
	{% endblock %}

	
{% endblock %}