{% extends 'main1col.html' %}

{% block title %}Registration or Login{% endblock %}


{% block content %}

	<div id="new_parent" class="floatleft">
		<h3>New Parents:</h3>
		<p>If you haven't taken lessons with us before please fill out a new parent registration form.</p>
		<a class="download_button center" href="{% url register_parent %}">Registration Form</a>
	</div>
	
	<div id="existing_parent" class="floatleft">	
		<h3>Existing Parents:</h3>
		<p>If you have taken lessons with us before please login below:</p>
		<form class="center" action="/schedule/register/" method="post">
			{% csrf_token %}
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}
			username:
			<input type="text" name="username" value="{{ username}}" /><br />
			password:
			<input type="password" name="password" value="" /><br />

			<input type="submit" value="Log In" />
		</form>
		<p class="helper_text">If you do not have a password please login with only your email address. Your password will be mailed to you.</p>
	</div>
	
	{% block manage_content %}
	
	{% endblock %}

	
{% endblock %}