{% extends 'schedule/base_manage.html' %}

	
{% block manage_content %}
	<h2>Seasons:</h2>	
	{% if not object_list %}
		There are no seasons<br />
	{% else %}
	<table>
	<th>Season Name</th>
	<th>Start Date</th>
	<th>End Date</th>
	{% for season in object_list %}
		<tr><td><a href="{% url view_season season_id=season.id %}">{{ season.name }}</a></td><td> {{ season.start_date }}</td><td>{{ season.end_date }}</td></tr>
	{% endfor %}
	{% endif %}
	</table>
	<a href="{% url stswim.schedule.admin_views.addseason %}">Add Season</a><br />
{% endblock %}